$primary-color: #e91e63
$secondary-color: #121212
$fillin-color: #fff

$success-color: #8bc34a
$error-color: #ffeb3b
$link-color: #e91e63

body
  background-color: $fillin-color
  
  .brand-logo
    text-transform: uppercase
  
  nav
    background-color: $primary-color
    
    h1
      margin: 0
      line-height: inherit
  
  .title
    position: absolute
    bottom: 0
    left: 0
    background-color: rgba(18,18,18,0.5)
    color: $fillin-color
    width: 100%
    text-align: center
  
  .fixed-action-btn
    right: 10px
    bottom: 10px
  
  .back-arrow
    transform-origin: center
    transform: rotate(180deg)
    top: 0
  
  .card-title
    text-transform: capitalize
    padding: 10px 20px 0
    
  .tags
    padding: 0 20px 10px
  
  .card .card-action a:not(.btn):not(.btn-large):not(.btn-floating)
    color: $primary-color
    
    &:hover
      color: $success-color
  
  .upload
    position: absolute
    top: 10px
    right: 10px
    
  .empty-upload
    display: block
  

@media screen and (min-width: 768px)
  .title  
    padding: 1em 0

@media screen and (min-width: 992px)
  body
    .brand-logo
      margin-left: 15%
      
    .right
      float: right
      margin-right: 15%
    
    .tags.right
      margin-right: 0


@media screen and (min-width: 1025px)
  body
    nav
      background-color: $secondary-color
    
    .fixed-action-btn
      right: 5%
      top: 18px
    
    .brand-logo
      margin-left: 0
    
    .back
      margin-left: 15%;