/* line 9, /Users/thedoer/Documents/projects/recipe-box/src/css/main.sass */
body {
  background-color: #fff; }
  /* line 12, /Users/thedoer/Documents/projects/recipe-box/src/css/main.sass */
  body .brand-logo {
    text-transform: uppercase; }
  /* line 15, /Users/thedoer/Documents/projects/recipe-box/src/css/main.sass */
  body nav {
    background-color: #e91e63; }
    /* line 18, /Users/thedoer/Documents/projects/recipe-box/src/css/main.sass */
    body nav h1 {
      margin: 0;
      line-height: inherit; }
  /* line 22, /Users/thedoer/Documents/projects/recipe-box/src/css/main.sass */
  body .title {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(18, 18, 18, 0.5);
    color: #fff;
    width: 100%;
    text-align: center; }
  /* line 31, /Users/thedoer/Documents/projects/recipe-box/src/css/main.sass */
  body .fixed-action-btn {
    right: 10px;
    bottom: 10px; }
  /* line 35, /Users/thedoer/Documents/projects/recipe-box/src/css/main.sass */
  body .back-arrow {
    transform-origin: center;
    transform: rotate(180deg);
    top: 0; }
  /* line 40, /Users/thedoer/Documents/projects/recipe-box/src/css/main.sass */
  body .card-title {
    text-transform: capitalize;
    padding: 10px 20px 0; }
  /* line 44, /Users/thedoer/Documents/projects/recipe-box/src/css/main.sass */
  body .tags {
    padding: 0 20px 10px; }
  /* line 47, /Users/thedoer/Documents/projects/recipe-box/src/css/main.sass */
  body .card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #e91e63; }
    /* line 50, /Users/thedoer/Documents/projects/recipe-box/src/css/main.sass */
    body .card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
      color: #8bc34a; }
  /* line 53, /Users/thedoer/Documents/projects/recipe-box/src/css/main.sass */
  body .upload {
    position: absolute;
    top: 10px;
    right: 10px; }
  /* line 58, /Users/thedoer/Documents/projects/recipe-box/src/css/main.sass */
  body .empty-upload {
    display: block;
    position: relative; }
    /* line 62, /Users/thedoer/Documents/projects/recipe-box/src/css/main.sass */
    body .empty-upload .upload-file {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      opacity: 0; }

@media screen and (min-width: 768px) {
  /* line 72, /Users/thedoer/Documents/projects/recipe-box/src/css/main.sass */
  .title {
    padding: 1em 0; } }

@media screen and (min-width: 992px) {
  /* line 77, /Users/thedoer/Documents/projects/recipe-box/src/css/main.sass */
  body .brand-logo {
    margin-left: 15%; }
  /* line 80, /Users/thedoer/Documents/projects/recipe-box/src/css/main.sass */
  body .right {
    float: right;
    margin-right: 15%; }
  /* line 84, /Users/thedoer/Documents/projects/recipe-box/src/css/main.sass */
  body .tags.right {
    margin-right: 0; } }

@media screen and (min-width: 1025px) {
  /* line 90, /Users/thedoer/Documents/projects/recipe-box/src/css/main.sass */
  body nav {
    background-color: #121212; }
  /* line 93, /Users/thedoer/Documents/projects/recipe-box/src/css/main.sass */
  body .fixed-action-btn {
    right: 5%;
    top: 18px; }
  /* line 97, /Users/thedoer/Documents/projects/recipe-box/src/css/main.sass */
  body .brand-logo {
    margin-left: 15%; }
  /* line 100, /Users/thedoer/Documents/projects/recipe-box/src/css/main.sass */
  body .brand-logo.subpage {
    margin-left: 0; }
  /* line 103, /Users/thedoer/Documents/projects/recipe-box/src/css/main.sass */
  body .back {
    margin-left: 15%; } }

/*# sourceMappingURL=main.css.map */